#body {
  background-color: #CFE0C3;
}

#background {
background-color: #CFE0C3;


}

*{
padding: 0;
margin: 0;
}

.game{
width: 500px;
height: 200px;
border: 1px solid black;

}

#character{
width: 40px;
height: 100px;
background-color: #9EC1A3;
position: relative;
top: 170px;
left: 600px;
}

.animate{
animation: jump 500ms;
}


@keyframes jump {
0%{top: 150px;}
30%{top: 100px;}
70%{top: 100px;}
100%{top: 150px;}



}



#block{
  width: 40px;
  height: 40px;
  background-color: #70A9A1;
  position: relative;
  top: 130px;
  left: 480px;
  animation: block 3s;
  animation-iteration-count: infinite;
}

@keyframes block {
  0%{left: 1500px;}
  100%{left: -40px;}
}
